body { 
    font-family: Arial, sans-serif; 
    max-width: 600px; 
    margin: auto; 
    padding: 80px 20px 20px 20px; 
}

/* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222; /* Darker background */
    color: #fff;
    padding: 10px 20px;
    height: 70px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
}

.app-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.date-time {
    margin-right: 20px;
    font-size: 14px;
    color: #ccc;
}

/* Button Style */
.nav-button {
    background-color: #4CAF50; /* Nice green */
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #45a049;
}

label, select, input, button { 
    display: block; 
    margin-top: 10px; 
    width: 90%;  /* Reduce width to 90% */
    padding: 8px; 
    box-sizing: border-box; 
    margin-left: auto;
    margin-right: auto;
}

#formContainer, 
#csvContainer { 
    margin-top: 20px; 
    border: 1px solid #ccc; 
    padding: 20px; 
    display: none; 
    background: linear-gradient(to bottom right, #e0f7fa, #b2ebf2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
